.container_right{
    background-image: '../../back.jpeg';
}

.card{
    width: 150px;
    height:150px;
    background-color: #0071b9;
    font-size: 8px;
    color: white;
    border:3px black solid;
}

.right{
    margin-top: 2rem;
    display: flex !important;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.prompt{
    background-color: white;
    color: black;
    padding-bottom: 15px;
    padding-top: 15px;

    
}

.desc{
    padding: 1px;
}


